<!-- IF S_AJAX_REQUEST -->
	<form action="{S_CONFIRM_ACTION}" method="post">
		<p>{MESSAGE_TEXT}</p>

		<!-- IF not S_SHADOW_TOPICS -->
		<!-- IF not S_SOFTDELETED and S_ALLOWED_DELETE and S_ALLOWED_SOFTDELETE -->
			<label>
				<strong>{L_DELETE_PERMANENTLY}{L_COLON}</strong><br />
				<!-- IF S_TOPIC_MODE -->{L_DELETE_TOPIC_PERMANENTLY}<!-- ELSE -->{L_DELETE_POST_PERMANENTLY}<!-- ENDIF -->
				<input id="delete_permanent" name="delete_permanent" type="checkbox" value="1" {S_CHECKED_PERMANENT} />
			</label>
		<!-- ENDIF -->

		<label for="delete_reason">
			<strong>{L_DELETE_REASON}{L_COLON}</strong><br /><span class="help-block">{L_DELETE_REASON_EXPLAIN}</span>
			<input type="text" name="delete_reason" value="" class="form-control" maxlength="120" size="45" />
		</label>
		<!-- ENDIF -->

		<fieldset class="text-center">
			<input type="button" name="confirm" value="{L_YES}" class="btn btn-danger" />&nbsp;
			<input type="button" name="cancel" value="{L_NO}" class="btn btn-primary" />
		</fieldset>
	</form>

<!-- ELSE -->

<!-- INCLUDE overall_header.html -->

<form id="confirm" action="{S_CONFIRM_ACTION}" method="post">
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">{MESSAGE_TITLE}</h4>
				</div>
				<div class="panel-body">

				<p>{MESSAGE_TEXT}</p>

				<!-- IF not S_SHADOW_TOPICS -->
				<fieldset class="form-horizontal">
					<!-- IF not S_SOFTDELETED and S_ALLOWED_DELETE and S_ALLOWED_SOFTDELETE -->
					<dl class="form-group">
						<dt class="col-md-3 col-sm-4 col-xs-12"><label class="control-label" for="delete_permanent">{L_DELETE_PERMANENTLY}{L_COLON}</label></dt>
						<dd class="col-md-9 col-sm-8 col-xs-12">
							<label class="control-label" for="delete_permanent">
								<input id="delete_permanent" name="delete_permanent" type="checkbox" value="1" {S_CHECKED_PERMANENT} />
								<!-- IF S_TOPIC_MODE -->{L_DELETE_TOPIC_PERMANENTLY}<!-- ELSE -->{L_DELETE_POST_PERMANENTLY}<!-- ENDIF -->
							</label>
						</dd>
					</dl>
					<!-- ENDIF -->

					<dl class="form-group">
						<dt class="col-md-3 col-sm-4 col-xs-12"><label class="control-label" for="delete_reason">{L_DELETE_REASON}{L_COLON}</label><br /><span class="help-block">{L_DELETE_REASON_EXPLAIN}</span></dt>
						<dd class="col-md-9 col-sm-8 col-xs-12 form-inline"><input type="text" name="delete_reason" id="delete_reason" value="" class="form-control autowidth" maxlength="120" size="45" /></dd>
					</dl>
				</fieldset>
				<!-- ENDIF -->

				</div>

				<fieldset class="panel-footer text-center">
					{S_HIDDEN_FIELDS}
					<input type="submit" name="confirm" value="{L_YES}" class="btn btn-danger" />&nbsp; 
					<input type="submit" name="cancel" value="{L_NO}" class="btn btn-primary" />
				</fieldset>
			</div>
		</div>
	</div>
</div>
</form>

<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->
