
<script type="text/javascript">
// <![CDATA[
	var form_name = 'postform';
	var text_name = <!-- IF $SIG_EDIT -->'signature'<!-- ELSE -->'message'<!-- ENDIF -->;
	var load_draft = false;
	var upload = false;

	// Define the bbCode tags
	var bbcode = new Array();
	var bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]','[flash=]', '[/flash]','[size=]','[/size]'<!-- BEGIN custom_tags -->, {custom_tags.BBCODE_NAME}<!-- END custom_tags -->);
	var imageTag = false;

	// Helpline messages
	var help_line = {
		b: '{LA_BBCODE_B_HELP}',
		i: '{LA_BBCODE_I_HELP}',
		u: '{LA_BBCODE_U_HELP}',
		q: '{LA_BBCODE_Q_HELP}',
		c: '{LA_BBCODE_C_HELP}',
		l: '{LA_BBCODE_L_HELP}',
		o: '{LA_BBCODE_O_HELP}',
		p: '{LA_BBCODE_P_HELP}',
		w: '{LA_BBCODE_W_HELP}',
		a: '{LA_BBCODE_A_HELP}',
		s: '{LA_BBCODE_S_HELP}',
		f: '{LA_BBCODE_F_HELP}',
		y: '{LA_BBCODE_Y_HELP}',
		d: '{LA_BBCODE_D_HELP}'
		<!-- BEGIN custom_tags -->
			,cb_{custom_tags.BBCODE_ID}: '{custom_tags.A_BBCODE_HELPLINE}'
		<!-- END custom_tags -->
	}

	function change_palette()
	{
		phpbb.toggleDisplay('colour_palette');
		e = document.getElementById('colour_palette');

		if (e.style.display == 'block')
		{
			document.getElementById('bbpalette').value = '{LA_FONT_COLOR_HIDE}';
		}
		else
		{
			document.getElementById('bbpalette').value = '{LA_FONT_COLOR}';
		}
	}

// ]]>
</script>
<!-- INCLUDEJS {T_ASSETS_PATH}/javascript/editor.js -->

<!-- IF S_BBCODE_ALLOWED -->
<div id="colour_palette" style="display: none;">
	<dl class="form-group">
		<dt class="col-md-3 col-sm-4 col-xs-12"><label class="control-label">{L_FONT_COLOR}{L_COLON}</label></dt>
		<dd class="col-md-19 col-sm-8 col-xs-12 form-inline" id="color_palette_placeholder" data-orientation="h" data-height="12" data-width="15" data-bbcode="true"></dd>
	</dl>
</div>

<!-- EVENT posting_editor_buttons_before -->
<div id="format-buttons">
	<div class="btn-group">
		<button type="button" class="btn btn-default" accesskey="b" name="addbbcode0" onclick="bbstyle(0)" title="{L_BBCODE_B_HELP}"><i class="fa fa-bold"></i></button>
		<button type="button" class="btn btn-default" accesskey="i" name="addbbcode2" onclick="bbstyle(2)" title="{L_BBCODE_I_HELP}"><i class="fa fa-italic"></i></button>
		<button type="button" class="btn btn-default" accesskey="u" name="addbbcode4" onclick="bbstyle(4)" title="{L_BBCODE_U_HELP}"><i class="fa fa-underline"></i></button>
		<!-- IF S_BBCODE_QUOTE -->
			<button type="button" class="btn btn-default" accesskey="q" name="addbbcode6" onclick="bbstyle(6)" title="{L_BBCODE_Q_HELP}"><i class="fa fa-quote-{S_CONTENT_FLOW_BEGIN}"></i></button>
		<!-- ENDIF -->
		<button type="button" class="btn btn-default" accesskey="c" name="addbbcode8" onclick="bbstyle(8)" title="{L_BBCODE_C_HELP}"><i class="fa fa-code"></i></button>
		<button type="button" class="btn btn-default" accesskey="l" name="addbbcode10" onclick="bbstyle(10)" title="{L_BBCODE_L_HELP}"><i class="fa fa-list-ul"></i></button>
		<button type="button" class="btn btn-default" accesskey="o" name="addbbcode12" onclick="bbstyle(12)" title="{L_BBCODE_O_HELP}"><i class="fa fa-list-ol"></i></button>
		<button type="button" class="btn btn-default" accesskey="y" name="addlistitem" onclick="bbstyle(-1)" title="{L_BBCODE_LISTITEM_HELP}"><i class="fa fa-asterisk"></i></button>
		<!-- IF S_BBCODE_IMG -->
		<button type="button" class="btn btn-default" accesskey="p" name="addbbcode14" onclick="bbstyle(14)" title="{L_BBCODE_P_HELP}"><i class="fa fa-picture-o"></i></button>
		<!-- ENDIF -->
		<!-- IF S_LINKS_ALLOWED -->
		<button type="button" class="btn btn-default" accesskey="w" name="addbbcode16" onclick="bbstyle(16)" title="{L_BBCODE_W_HELP}"><i class="fa fa-link"></i></button>
		<!-- ENDIF -->
		<!-- IF S_BBCODE_FLASH -->
		<button type="button" class="btn btn-default" accesskey="d" name="addbbcode18" onclick="bbstyle(18)" title="{L_BBCODE_D_HELP}"><i class="fa fa-flash"></i></button>
		<!-- ENDIF -->
		<select name="addbbcode40" onchange="bbfontstyle('[code2=' + this.form.addbbcode40.options[this.form.addbbcode40.selectedIndex].value + ']', '[/code2]');this.form.addbbcode40.selectedIndex = 0;" title="{L_SYNTAX3}">

			<option value="0" selected="selected" style="display: none">{L_SYNTAX3}</option>
			<option value="{L_BBCODE40_ACTIONSCRIPT}">Actionscript</option>
			<option value="{L_BBCODE40_ADA}">Ada</option>
			<option value="{L_BBCODE40_ASSEMBLER_ASM}">Assembler ASM</option>
			<option value="{L_BBCODE40_ASSEMBLER_NASM}">Assembler NASM</option>
			<option value="{L_BBCODE40_ASSEMBLER_MASM}">Assembler MASM</option>
			<option value="{L_BBCODE40_APPLESCRIPT}">Applescript</option>
			<option value="{L_BBCODE40_AUTOHOTKEY}">AutoHotKey</option>
			<option value="{L_BBCODE40_BASH}">Bash</option>
			<option value="{L_BBCODE40_BIFERNO}">Biferno</option>
			<option value="{L_BBCODE40_BATCH}">Batch</option>
			<option value="{L_BBCODE40_CSHARP}">C#</option>
			<option value="{L_BBCODE40_CPLUSPLUS}">C++</option>
			<option value="{L_BBCODE40_CLOJURE}">Clojure</option>
			<option value="{L_BBCODE40_CMD}">CMD</option>
			<option value="{L_BBCODE40_COCOA}">Cocoa</option>
			<option value="{L_BBCODE40_COFFEE_SCRIPT}">Coffee Script</option>
			<option value="{L_BBCODE40_COLDFUSION}">Coldfusion</option>
			<option value="{L_BBCODE40_CSS}">CSS</option>
			<option value="{L_BBCODE40_D}">D</option>
			<option value="{L_BBCODE40_DELPHI}">Delphi</option>
			<option value="{L_BBCODE40_DIFF}">Diff</option>
			<option value="{L_BBCODE40_ERLANG}">Erlang</option>
			<option value="{L_BBCODE40_FSHARP}">F#</option>
			<option value="{L_BBCODE40_GROOVY}">Groovy</option>
			<option value="{L_BBCODE40_HAXE}">Haxe</option>
			<option value="{L_BBCODE40_HTML}">html</option>
			<option value="{L_BBCODE40_JAVA}">java</option>
			<option value="{L_BBCODE40_JAVAFX}">java fx</option>
			<option value="{L_BBCODE40_JAVASCRIPT}">javascript</option>
			<option value="{L_BBCODE40_LASSO}">Lasso</option>
			<option value="{L_BBCODE40_LATEX}">LaTeX</option>
			<option value="{L_BBCODE40_LOGTALK}">LogTalk</option>
			<option value="{L_BBCODE40_LSL}">LsL</option>
			<option value="{L_BBCODE40_LUA}">Lua</option>
			<option value="{L_BBCODE40_MATHEMATIC}">Mathmatic</option>
			<option value="{L_BBCODE40_MATLAB}">Matlab</option>
			<option value="{L_BBCODE40_OBJECTIVE_C}">Objective C</option>
			<option value="{L_BBCODE40_PASCAL}">Pascal</option>
			<option value="{L_BBCODE40_PERL}">Perl</option>
			<option value="{L_BBCODE40_PHP}">PHP</option>
			<option value="{L_BBCODE40_PLAIN_TEXT}">Plain Text</option>
			<option value="{L_BBCODE40_POWERSHELL}">Powershell</option>
			<option value="{L_BBCODE40_PROCESSING}">Processing</option>
			<option value="{L_BBCODE40_PYTHON}">Python</option>
			<option value="{L_BBCODE40_PYTHON3}">Python3</option>
			<option value="{L_BBCODE40_ROUTEROS}">Router OS</option>
			<option value="{L_BBCODE40_RPG}">RPG</option>
			<option value="{L_BBCODE40_ILE_RPG}">ILE RPG</option>
			<option value="{L_BBCODE40_RUBY}">Ruby</option>
			<option value="{L_BBCODE40_SAHI}">Sahi</option>
			<option value="{L_BBCODE40_SASS}">Sass</option>
			<option value="{L_BBCODE40_SCALA}">Scala</option>
			<option value="{L_BBCODE40_SHELL}">Shell</option>
			<option value="{L_BBCODE40_SQL}">SQL</option>
			<option value="{L_BBCODE40_TORQUESCRIPT}">TorqueScript</option>
			<option value="{L_BBCODE40_VISUAL_BASIC}">Visual Basic</option>
			<option value="{L_BBCODE40_YAML}">Yaml</option>
			<option value="{L_BBCODE40_XHTML}">xHTML</option>
			<option value="{L_BBCODE40_XML}">XML</option>
			<option value="{L_BBCODE40_XSLT}">XSLT</option>
		</select>
		<button type="button" class="btn btn-default" name="bbpalette" id="bbpalette" value="{L_FONT_COLOR}" onclick="change_palette();" title="{L_BBCODE_S_HELP}"><i class="fa fa-paint-brush"></i></button>
	</div>

	<div class="btn-group">
		<select name="addbbcode20" class="form-control" onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]');this.form.addbbcode20.selectedIndex = 2;" title="{L_BBCODE_F_HELP}">
			<option value="50">{L_FONT_TINY}</option>
			<option value="85">{L_FONT_SMALL}</option>
			<option value="100" selected="selected">{L_FONT_NORMAL}</option>
			<!-- IF not MAX_FONT_SIZE or MAX_FONT_SIZE >= 150 -->
				<option value="150">{L_FONT_LARGE}</option>
				<!-- IF not MAX_FONT_SIZE or MAX_FONT_SIZE >= 200 -->
					<option value="200">{L_FONT_HUGE}</option>
				<!-- ENDIF -->
			<!-- ENDIF -->
		</select>
	</div>

	<!-- EVENT posting_editor_buttons_custom_tags_before -->

	<!-- IF .custom_tags -->
	<div class="btn-group">
	<!-- BEGIN custom_tags -->
		<button type="button" class="btn btn-default" name="addbbcode{custom_tags.BBCODE_ID}" onclick="bbstyle({custom_tags.BBCODE_ID})" title="{custom_tags.BBCODE_HELPLINE}">{custom_tags.BBCODE_TAG}</button>
	<!-- END custom_tags -->
	</div>
	<!-- ENDIF -->
</div>
<!-- EVENT posting_editor_buttons_after -->
<!-- ENDIF -->
