<dl class="form-group">
	<dt class="col-md-4 col-sm-5 col-xs-12"><label class="control-label" for="avatar_gravatar_email">{L_GRAVATAR_AVATAR_EMAIL}{L_COLON}</label><br /><span class="help-block">{L_GRAVATAR_AVATAR_EMAIL_EXPLAIN}</span></dt>
	<dd class="col-md-8 col-sm-7 col-xs-12 form-inline"><input type="email" name="avatar_gravatar_email" id="avatar_gravatar_email" value="{AVATAR_GRAVATAR_EMAIL}" class="form-control" data-reset-on-edit="#avatar_gravatar_width, #avatar_gravatar_height" /></dd>
</dl>
<dl class="form-group">
	<dt class="col-md-4 col-sm-5 col-xs-12"><label class="control-label" for="avatar_gravatar_width">{L_GRAVATAR_AVATAR_SIZE}{L_COLON}</label><br /><span class="help-block">{L_GRAVATAR_AVATAR_SIZE_EXPLAIN}</span></dt>
	<dd class="col-md-8 col-sm-7 col-xs-12 form-inline">
		<input type="text" name="avatar_gravatar_width" id="avatar_gravatar_width" size="3" value="{AVATAR_GRAVATAR_WIDTH}" class="form-control" /> <label for="avatar_gravatar_width">{L_PIXEL}</label> &times;&nbsp; 
		<input type="text" name="avatar_gravatar_height" id="avatar_gravatar_height" size="3" value="{AVATAR_GRAVATAR_HEIGHT}" class="form-control" /> <label for="avatar_gravatar_height">{L_PIXEL}</label>
	</dd>
</dl>
