<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">{L_TITLE}</h4>
	</div>
	<div class="panel-body">
	
	<p>{L_ATTACHMENTS_EXPLAIN}</p>

	<!-- IF .attachrow -->
	<div class="pages clearfix">
		<!-- IF .pagination --> 
			<!-- INCLUDE pagination.html -->
		<!-- ENDIF -->
		<div class="btn-group pull-{S_CONTENT_FLOW_BEGIN}">
			<span class="btn btn-default disabled">{TOTAL_ATTACHMENTS} {L_TITLE}</span>
			<span class="btn btn-default disabled">{PAGE_NUMBER}</span>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="clearfix">
			<h4 class="col-md-7 col-sm-6 col-xs-8">{L_FILENAME}</h4>
			<h5 class="col-md-2 col-sm-2 col-xs-2 text-center">{L_DOWNLOADS}</h5>
			<h5 class="col-md-2 col-sm-3 hidden-xs">{L_POST_TIME}</h5>
			<h5 class="col-md-1 col-sm-1 col-xs-2 text-center">{L_MARK}</h5>
		</div>

		<!-- BEGIN attachrow -->
		<div class="clearfix icon<!-- IF attachrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<div class="col-md-7 col-sm-6 col-xs-8">
				<a href="{attachrow.U_VIEW_ATTACHMENT}" class="topictitle attachment-filename ellipsis-text" title="{attachrow.FILENAME}">{attachrow.FILENAME}</a> ({attachrow.SIZE})<br />
				<!-- IF attachrow.S_IN_MESSAGE -->{L_PM}{L_COLON} <!-- ELSE -->{L_TOPIC}{L_COLON} <!-- ENDIF --><a href="{attachrow.U_VIEW_TOPIC}">{attachrow.TOPIC_TITLE}</a>
			</div>

			<div class="col-md-2 col-sm-2 col-xs-2 text-center">{attachrow.DOWNLOAD_COUNT}</div>
			<div class="col-md-2 col-sm-3 hidden-xs">{attachrow.POST_TIME}</div>
			<div class="col-md-1 col-sm-1 col-xs-2 text-center"><input type="checkbox" name="attachment[{attachrow.ATTACH_ID}]" value="1" /></div>
		</div>
		<!-- END attachrow -->
	</div>

	<fieldset class="panel-group text-center">
		<label for="sk">{L_SORT_BY}{L_COLON}</label>  <select name="sk" id="sk">{S_SORT_OPTIONS}</select>&nbsp;
		<select name="sd" id="sd">{S_ORDER_SELECT}</select>&nbsp;
		<input class="btn btn-default" type="submit" name="sort" value="{L_SORT}" />
		{S_FORM_TOKEN}
	</fieldset>

	<!-- ELSE -->
		<div class="alert alert-info">
			{L_UCP_NO_ATTACHMENTS}
		</div>
	<!-- ENDIF -->
	
<!-- IF S_ATTACHMENT_ROWS -->
	<fieldset class="panel-group text-{S_CONTENT_FLOW_END}">
		<div class="btn-group">
			<a href="#" onclick="marklist('ucp', 'attachment', false); return false;" class="btn btn-warning">{L_UNMARK_ALL}</a>
			<input type="submit" name="delete" value="{L_DELETE_MARKED}" class="btn btn-default" />
			<a href="#" onclick="marklist('ucp', 'attachment', true); return false;" class="btn btn-info">{L_MARK_ALL}</a>
		</div>
		{S_FORM_TOKEN}
	</fieldset>

	<div class="pages clearfix">
		<!-- IF .pagination --> 
			<!-- INCLUDE pagination.html -->
		<!-- ENDIF -->
		<div class="btn-group pull-{S_CONTENT_FLOW_BEGIN}">
			<span class="btn btn-default disabled">{TOTAL_ATTACHMENTS} {L_TITLE}</span>
			<span class="btn btn-default disabled">{PAGE_NUMBER}</span>
		</div>
	</div>
<!-- ENDIF -->

	</div>
</div>

</form>

<!-- INCLUDE ucp_footer.html -->
