# General information about this style
name = Torque3D Red Compact
copyright = © Lukas Joergensen, 2018
style_version = 3.2.5
phpbb_version = 3.2.5

# Parent style
# Set value to empty or to this style's name
# if this style does not have a parent style
parent = Torque3D Red Minimal
