@import url("font-awesome.min.css");
@import url("imageset.css");

html {
    height: 101%;
}

body {
    word-wrap: break-word;
}

.panel-body hr {
    margin: 10px 0;
}

img {
    max-width: 100%;
}

.help-block {
    font-weight: normal;
}

.container.simple {
    margin-top: 15px;
}

.top-bar {
    padding: 5px 15px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
	height: 45px;
}

div.page-header {
    margin-top: 0;
    padding-top: 9px;
    background-color: #f9f9f9;
}

h4.site-name {
	margin-left: 180px;
}

#logo {
    display: inline-block;
    background: transparent url("./images/site_logo.png") no-repeat 0 0;
    width: 443px;
    height: 139px;
}

#navbar-collapse-footer .navbar-nav > li > .dropdown-menu {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.navbar-nav.navbar-right {
    margin-right: 0;
}

.header-avatar img {
    max-height: 20px;
    width: auto;
}

.bg1 {
    background-color: #f9f9f9;
}

.bg2 {
    background-color: #f5f5f5;
}

div.icon {
    padding-top: 5px;
    padding-bottom: 5px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    border-top: 1px solid #ddd;
}

div.icon:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

div.folder {
    min-height: 35px;
    padding-left: 46px;
    background-position: 5px 95%;
    background-repeat: no-repeat;
}

div.folder ol, div.folder ul {
    display: inline-block;
}

.forumtitle, .topictitle {
    font-size: 1.2em;
}

.forum-image {
    margin-right: 5px;
}

.folder .pagination, .pages .pagination, .postprofile dd {
    margin: 0;
}

.dropdown-menu li.divider {
    margin: 1px 0;
}

.tip, .btn.tip {
    cursor: default;
}

.username-coloured {
    font-weight: bold;
}

input.form-control.autowidth {
    width: 100%;
}

.big-btn a {
    padding: 0 12px;
    line-height: 32px;
}

.big-btn i {
    float: left;
    margin-left: -12px;
    margin-right: 12px;
    padding: 9px 12px;
    background-color: #2B689C;
}

.big-btn i.fa-lock {
    background-color: #E78B08;
}

.post.panel-body {
    padding: 15px 0;
}

.postbody .content {
    padding-bottom: 15px;
}

.post-ignore .postbody {
    display: none;
}

.postprofile {
    border-right: 1px solid #eee;
}

span.online {
    display: block;
    padding: 3px;
    margin-top: -15px;
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

dl.form-group dt {
    text-align: right;
}

.codebox code {
    overflow: auto;
    display: block;
    height: auto;
    max-height: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #2E8B57;
}

.attachbox p, .codebox p {
    margin: 5px 5px 0 10px;
    font-weight: bold;
}

.attachbox .well-sm, .attachbox .thumbnail {
    margin-bottom: 0;
}

.inline-attachment .well-sm {
    padding: 0;
}

.postbody blockquote {
    margin: 10px 0;
    font-size: 13px;
}

a.postlink:visited {
    color: #7393B1;
}

a.postlink:hover, a.postlink:focus {
    color: #23527c;
}

blockquote cite {
    display: block;
    font-weight: bold;
}

blockquote i {
    filter: alpha(opacity=10);
    opacity: .1;
}

.syntaxbg		{color: #FFFFFF;}
.syntaxcomment	{color: #FF8000;}
.syntaxdefault	{color: #0000BB;}
.syntaxhtml		{color: #000000;}
.syntaxkeyword	{color: #007700;}
.syntaxstring	{color: #DD0000;}

.postbody .post-buttons {
    margin-bottom: 10px;
    padding-bottom: 10px;
    line-height: 2.5em;
    border-bottom: 1px solid #eee;
}

.post-buttons span {
    display: none;
}

.btn.tip:hover {
    background: none;
}

#topicreview, #post_details {
    padding-right: 15px;
    overflow: auto;
}

#topicreview {
    height: 300px;
    padding-bottom: 0;
}

#post_details, .dropdown-contents {
    max-height: 300px;
}

#gallery {
    margin: 15px 0;
}

#gallery label {
    padding: 5px;
    border: 1px solid #ddd;
}

#gallery label:hover {
    background-color: #f5f5f5;
}

.nav.nav-tabs, .pages, #navigation, #message-box, #format-buttons, .friends-list {
    margin-bottom: 15px;
}

.nav.nav-pills {
    margin-bottom: 5px;
}

#format-buttons .btn-group {
    display: inline-block;
    margin-top: 5px;
}

#format-buttons  i {
    font-size: 17px;
}

#color_palette_placeholder td {
    padding: 3px 1px;
    border: 1px solid #f5f5f5;
}

.dropdown-contents {
    overflow-y: auto;
}

.pm-legend i {
    vertical-align: 1px;
}

.pm_message_reported_colour, i.pm_message_reported_colour {
    background-color: #BC2A4D;
}

.pm_marked_colour, i.pm_marked_colour {
    background-color: #FF6600;
}

.pm_replied_colour, i.pm_replied_colour {
    background-color: #A9B8C2;
}

.pm_friend_colour, i.pm_friend_colour {
    background-color: #5D8FBD;
}

.pm_foe_colour, i.pm_foe_colour {
    background-color: #000000;
}

.table-responsive .width-15 {
    width: 15%;
}

.table-responsive .width-35 {
    width: 35%;
}

.table-responsive .width-50 {
    width: 50%;
}

select, input.inputbox {
    width: auto;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

select:focus, input.inputbox:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.phpbb_alert {
    background-color: #fff;
    border: 1px solid #999;
    display: none;
    left: 0;
    padding: 0 25px 20px 25px;
    position: fixed;
    right: 0;
    top: 150px;
    z-index: 50;
    width: 620px;
    margin: 0 auto;
}

@media only screen and (max-height: 500px), only screen and (max-device-width: 500px)
{
    .phpbb_alert {
        top: 25px;
    }
}

.phpbb_alert .alert_close {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    overflow: hidden;
    text-decoration: none !important;
    background: transparent url("./images/alert_close.png") 0 0 no-repeat;
    margin-top: -7px;
    margin-right: -31px;
}
.phpbb_alert .alert_close:hover {
    background-position: 0 -16px;
}

.phpbb_alert p {
    margin: 8px 0;
    padding-bottom: 8px;
}

.phpbb_alert label {
    display: block;
    margin: 8px 0;
    padding-bottom: 8px;
}

.phpbb_alert div.alert_text > p,
.phpbb_alert div.alert_text > label,
.phpbb_alert div.alert_text > select,
.phpbb_alert div.alert_text > textarea,
.phpbb_alert div.alert_text > input {
    font-size: 1.1em;
}

#darkenwrapper {
    display: none;
    position: relative;
    z-index: 44;
}

#darken {
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 45;
}

#loading_indicator {
    background: #000 url("./images/loading.gif") no-repeat 50% 50%;
    border-radius: 5px;
    display: none;
    opacity: 0.8;
    margin-top: -50px;
    margin-left: -50px;
    height: 50px;
    width: 50px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 51;
}

.notification-block {
    position: relative;
}

.notification-block a.mark_read {
    display: none;
    margin-top: -30px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 50%;
}

.notification-block:hover a.mark_read {
    display: block;
}

.notification-text {
    min-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notification-text img {
    max-height: 50px;
    max-width: 50px;
    margin-right: 5px;
}

@media (max-width: 767px)
{
    dl.form-group dt {
        text-align: left;
    }

    #colour_palette td:nth-child(2n) {
        display: none;
    }

    .postprofile {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border: none;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }
}

@media (max-width: 500px)
{
    .jumpbox {
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.sortables_captcha_box{
    float: left;
    width: 20em;
    padding: 5px;
    margin-right: 5px;
    border: dotted 1px rgb(128,128,128);
}

.code>.container:before{
    display: block;
}