<script type="text/javascript" src="{T_ASSETS_PATH}/javascript/syntaxhighlighter3/js/shAutoloader.js"></script>
<script type='text/javascript'>
// <![CDATA[
SyntaxHighlighter.autoloader(
'actionscript3 as3 {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushAS3.js',
'ada {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushAda.js',
'applescript {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushAppleScript.js',
'ahk autohotkey {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushAhk.js',
'asm masm nasm8086 8086 nasm {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushNasm8086.js',
'bash shell {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushBash.js',
'bat batch cmd {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushBat.js',
'biferno {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushBiferno.js',
'clojure Clojure clj {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushClojure.js',
'coffee coffeescript {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushcoffee.js',
'coldfusion cf {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushColdFusion.js',
'cpp c {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushCpp.js',
'c# c-sharp csharp {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushCSharp.js',
'css {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushCss.js',
'd {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushD.js',
'delphi pascal {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushDelphi.js',
'diff patch pas {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushDiff.js',
'erl erlang {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushErlang.js',
'f# f-sharp fsharp {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushFSharp.js',
'groovy {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushGroovy.js',
'haxe {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushHaxe.js',
'java {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushJava.js',
'jfx javafx {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushJavaFX.js',
'js jscript javascript {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushJScript.js',
'lasso {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushLasso.js',
'latex tex {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushLatex.js',
'logtalk {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushLogtalk.js',
'lsl {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushLsl.js',
'lua {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushLua.js',
'mathematica mm {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushMathematica.js',
'matlab {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushMatlabSimple.js',
'objc obj-c {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushObjectiveC.js',
'perl pl {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushPerl.js',
'php {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushPhp.js',
'text plain {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushPlain.js',
'powershell ps posh {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushPowerShell.js',
'processing Processing {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushProcessing.js',
'py python {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushPython.js',
'py3 python3 {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushPython3.js',
'ros {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushRouterOS.js',
'rpgle rpg4 {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushRpgle.js',
'ruby rails ror rb {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushRuby.js',
'sahi sahiscript {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushSahi.js',
'sass scss {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushSass.js',
'scala {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushScala.js',
'sql {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushSql.js',
'ts {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushTorqueScript.js',
'vb vbnet {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushVb.js',
'xml xhtml xslt html {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushXml.js',
'yaml yml {T_ASSETS_PATH}/javascript/syntaxhighlighter3/brushes/shBrushYaml.js'
);
SyntaxHighlighter.all();
// ]]>
</script>
